.rs-container {
  height: 100% !important;
}

.rs-content {
  border-radius: 1rem;
  flex: 1 0 auto !important;
  margin: 10px;
}

.rs-carousel{
  border-radius: 20px;
  background-color: aqua;
}

.rs-carousel-slider-item{
  background-color: rgb(211, 55, 55) !important
}

.Product-Widget-One{
  background-color: rgb(106, 178, 240);
}

.Product-Widget-Two{
  background-color: rgb(36, 167, 42);
}

.Product-Widget-Three{
  background-color: rgb(211, 55, 55);
}

.rs-panel{
  height: 100%;
}

.rs-col{
  border-radius: 20px;
}

.rs-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rs-sidenav-default{
  color: white;
}

.rs-sidenav {
  margin-bottom: auto;
  height: 100%;
}

.rs-nav ul li {
  margin-left: 0.75rem;
} */


.nav-toggle .rs-nav-item {
  margin-right: 0;
}

.rs-nav-default .rs-nav-item, .rs-nav-tabs .rs-nav-item {
  -webkit-transition: none !important;
  transition: none !important;
}

.rs-footer {
padding-top: 1rem;
padding-bottom: 1rem;
}

.rs-avatar-circle{
  margin: 5px;
}

.rs-table {
  border-radius: 1.75rem !important;
}

.rs-panel-shaded{
  background-color: #fff;
}

@media (max-width: 991px) {
  .rs-panel {
    margin-top: 1rem;
  }
}